$color-primary: #009985;
$color-primary-light: #33ccb8;
$color-primary-dark: #003d35;
$color-white: #f7f7f7;
$color-white-shine: #fefefe;
$color-white-dark: #efefef;
$color-grey: #555;
$color-grey-lite: #777;
$color-black: #333;
$color-red-error: #ff0000;
$color-red-delete: #d32f2f;
