# Node modules
node_modules
npm-debug.log


# Logs
*.log

# dotenv environment files
.env
.env.*

# OS / system files
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker files
.dockerignore



# Build outputs
dist
build
out




