<!DOCTYPE html>
<html lang="en">
  <%- include('layout/header.ejs') %>
  <body>
    <main class="main">
      <div class="image-wrapper">
        <img src="/img/404.png" class="image__404" alt="404 Image" />
        <a href="/app" class="btn">Back To Home</a>
      </div>
    </main>
  </body>
</html>
