.search-bar {
  width: auto;
  margin: 12rem 8rem 4rem 8rem;
  background-color: $color-white;
  padding: 2rem;
  display: flex;
  align-items: center;
  border: 2px solid $color-primary-dark;
  border-radius: 10rem;
  transition: 0.3s ease-out;
  &:hover {
    border-color: $color-primary-light;
  }

  &__input {
    width: 100%;
    border: none;
    font-size: 1.6rem;
    color: $color-grey;
    background-color: inherit;
    &:focus {
      outline: none;
    }
  }
  &__icon {
    font-size: 2rem;
    color: $color-primary;
  }
}
@media (max-width: 520px) {
  .search-bar {
    margin: 12rem 2rem 4rem 2rem;
    padding: 1.5rem 2rem;
  }
}
